<div class="container col-xs-4 col-xs-offset-3">
  <h1>Join the Darkside</h1>
  <h4>Reap the karma</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="form-group">
      <input
         id="username"
         class="form-control"
         type="text"
         placeholder="awesome_sauce">
     </div>
    
    <input type="hidden" name="user[email]" id="user_email">
    
  <script>
    $("form#new_user").on("submit", function(event){
      var $form = $(event.currentTarget)
      $form.find("input[name=user\\[email\\]]").val($("#username").val() + "@guest.com"); 
    })
  </script>

 <div class="form-group">
       <%= f.label :password %><br>
       <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Make it good..." %>
 </div>

    <div class="form-group">
      <%= f.label :password_again %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "...make it hard" %>
    </div>

   <div>
     <%= f.submit "Sign Up", class: "btn" %>
   </div>
  <% end %>
</div>
