<div class="container">
  <h1><%= user.get("username") %></h1>
  <h4> CardKarma: <%= user.get("card_karma") %></h4>
  <h4> SketchKarma: <%= user.get("sketch_karma") %></h4>
  <h4> Sketches: <%= user.get("sketches") %></h4>
  <h4> WCArds: <%= user.get("white_cards") %></h4>
  
  <div class="user-cards">
  </div>
  
  <div class="user-sketches">
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Profile</a></li>
    <li><a href="api/sketches" id="user-sketches">Sketches</a></li>
    <li><a href="#">Cards</a></li>
  </ul>

</div>


<script>
$('#user-sketches').click(function (event) {
  event.preventDefault()
  debugger
  $(this).tab('show')
})
</script>