<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <div><%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "We call it your secret service alias" %></div>
    </div>

 <div>
   <%= f.submit "Sign in", class: "btn" %>
 </div>
<% end %>
