<div class="container">
  <h1><%= @user.username %></h1>
  <h4> CardKarma: <%= @user.card_karma %></h4>
  <h4> CardKarma: <%= @user.sketch_karma %></h4>
  
  
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Profile</a></li>
    <li><a href="api/sketches" id="user-sketches">Sketches</a></li>
    <li><a href="#">Cards</a></li>
  </ul>
  
  
  <% @user.sketches.each do |sketch| %>
    <div class="drawing-area">
      <div class="show-canvas">
        <img src="<%= sketch.image %>">
      </div>
        <%= sketch.white_cards.count %>
    </div>

  <% end %>
</div>


<script>
$('#user-sketches').click(function (event) {
  event.preventDefault()
  debugger
  $(this).tab('show')
})
</script>
