<!DOCTYPE html>
<html>
<head>
  <title>SketchMate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar my-nav" role="navigation">
    <div class="container-fluid ">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SketchMate</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <form id="new-card"> 
          <label>
            <input type="text" 
                   class="form-control" 
                   name="white_card[body]" 
                   autofocus="true"
                   placeholder="Think you're witty?"></input>
          </label>
  
          <div>
            <input type="submit" class="nav-btn btn"></button>
          </div>
        </form>

        <script>
        $(function() {
          $("#new-card").on("submit", function (event) {
              event.preventDefault();

              var formData = $(this).serializeJSON();

              $.ajax({
                url: "/api/white_cards",
                type: "POST",
                data: formData,
                success: function () {
                }
              });
            }
          );
        });
        </script>
        

        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span> <b class="caret"></b>
            </a>
          <!-- </li> -->
            <ul class="dropdown-menu">
              <li>
                <%=link_to "Profile", user_url(current_user)%>
              </li>
            
              <li class="divider">
              </li>
            
              <li>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>

        <% else %>

          <li>
            <button class="btn navbar-btn sessions-nav-btn"
                    id="sign-in-nav-btn"
                    data-toggle="modal"
                    data-target=".sign-in-modal">
                    Sign In
            </button>
          </li>

          <div class="modal fade sign-in-modal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="mySmallModalLabel"
              aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-body">
                  <h1 style="color: black">Sign In</h1>
                  <%= render "devise/sessions/new", :user => @user %>
                 </div>
               </div>
            </div>
          </div>

          <li>
            <%= button_to "Sign Up", new_user_registration_url, 
              class: "btn navbar-btn sessions-nav-btn", 
              id: "sign-up-nav-btn", 
              method: :get %>
          </li>
       <% end %>
    </ul>
  </div>
</nav>



<!-- <% if alert %>
    <div class="alert alert-success col-xs-4 col-xs-offset-3s">
      <%= alert %>
    <button type="button" class="close" data-dismiss="alert">      
      <span class="glyphicon glyphicon-remove"></span>    
    </button>  
  </div>
<% end %>

<% if notice %>
  <div class="alert alert-success col-xs-4 col-xs-offset-3s">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
<% end %> -->

<% if flash[:errors] %>
  <div class="alert alert-danger">
    <h3>Dammit. Get it together!</h3>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= yield %>

</body>
</html>
