<!DOCTYPE html>
<html>
<head>
  <title>Fp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar my-nav" role="navigation">
    <div class="container-fluid ">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sketcher</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <button class="navbar-btn">
          Sign In
        </button>
      </li>
    </ul>

  </div>
</nav>


<% if alert %>
  <p class="alert alert-danger col-xs-4 col-xs-offset-3"><%= alert %></p>
<% end %>

<% if notice %>
  <p class="alert alert-success col-xs-4 col-xs-offset-3"><%= notice %></p>
<% end %>

<% if flash[:errors] %>
  <div class="alert alert-danger">
    <h3>Dammit. Get it together!</h3>
    <ul>
      <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= yield %>

</body>
</html>
